* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*   For Tablet  */
@media (max-width: 768px) {
  nav {
    padding: 15px;
  }

  .logo {
    font-size: 25px;
  }

  .nav-links {
    font-size: 15px;
    padding: 6px;
  }
  .btn1 {
    padding: 11px 9px;
  }

  .textt {
    text-align: center;
  }
  .respon1 {
    font-size: 50px;
  }

  .hero-image img {
    width: 100%;
  }
  .parag1 {
    font-size: 20px;
  }

  .percentage-box {
    margin-left: 241px;
  }

  .row .text {
    text-align: center;
    font-size: 50px;
  }
  .textt {
    text-align: center;
    font-size: 20px;
  }
  .test {
    text-align: center;
  }
  .Test2 {
    margin-left: 160px;
  }
}

/*  for Mobile   */

@media (max-width: 600px) {
  .logo {
    font-size: 14px;
    margin-inline-start: 10px;
  }

  .nav-links {
    padding: 1px;
    font-size: 12px;
  }
  .nav-links li {
    margin-left: 6px;
  }
  .respon1 {
    font-weight: bold;
    font-size: 20;
  }
  .parag1 {
    font-size: 14px;
    padding: 3px;
  }
  .hero-image img {
    width: 300px;
    margin-left: -62px;
  }
  .percentage-box {
    margin-left: 30px;
  }
  .row .text {
    font-size: 32px;
  }
  .textt {
    text-align: center;
    font-size: 15px;
  }

  .row h1 {
    font-size: 19px;
  }
  .row .parag1 {
    font-size: 14px;
  }
  .Test2 {
    margin-left: 6px;
  }
  .row h2 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
  }
  .test .btn {
    font-size: 12px;
    padding: 12px 24px;
  }

  h4 {
    text-align: center;
  }
  .list{
    text-align: center;
  }
}
