* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #1F2F46;
  line-height: 1.6;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px;
  /* background-color: #fff; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo{
  font-size: 25px;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 20px;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #1F2F46;
}
.btn1 {
  background-color: #FF6B57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}

.btn {
  background-color: #FF6B57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}

/* Hero Section */
/* .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;
  background-color: #F6F8FB;
} */

.row h1 {
  font-size: 61px;
  color: darkblue;
  font-family: sans-serif;

}
.row .parag1{
  font-size: 26px;

}


.hero-image img {
  width: 60%;

}


/* .percentage-box {
  /* border: 1px solid ; */
  /* margin-top: 50px;
  margin-left: 350px;
  width: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
} */

/* .percentage {
  font-size: 25px;
  font-weight: bold;
  color: #1f2f46;
}

.small-data {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.change {
  border: 1px solid #ff6b57 ;
  color: white;
  border-radius: 5px;
  background-color: #FF6B57;
  margin-right: 16px;
}

.value {
  color: #1f2f46;
}  */ 

/* Features Section */
.row .text{
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  /* margin-bottom: 20px; */
  color: darkblue;
}
.feature-box {
  display: flex;
  /* align-items: center; */
  margin-bottom: 30px;
}

.feature-box h1 {
  background-color: #ff5733; 
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 1.5rem;
}

.feature-box h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: darkblue;
}

.feature-box p {
  color: #666;
  font-size: 1rem;
}

/* Testimonials Section */
.testimonials {
  padding: 50px;
  background-color: #F6F8FB;
  text-align: center;
}

.testimonial {
  margin: 20px 0;
}

.testimonial img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

/* Work Section */

.test{
  background-color: rgb(242, 95, 58);
  background-image: url(../images/bg-simplify-section-desktop.svg);
}

.test .btn{
  background-color: #FF6B57;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}

.test .btn{
  background-color: white;
  color:#1f2f46;
  font-size: 19px;
  padding: 10px 26px;
  border: 1px solid transparent ;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer ;
  box-shadow: 0 0 10px rgba(34,31,31,0.3);
  transition: 0.5s ease;
  
}


.test .btn.hidden{
  background-color:lightsalmon;
  border-color: #fff;
  
}

.test .btn:hover{
  background-color: orangered;
  transform: scale(1.1);
  color: white;
}


/* Footer Section */

.inputt{
  border-radius: 10px;
  padding: 5px 5px;
}
.test2 .btn{
  background-color: #FF6B57;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}

.test2 .btn{
  background-color: white;
  color:#1f2f46;
  font-size: 12px;
  padding: 10px 20px;
  border: 1px solid transparent ;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer ;
  box-shadow: 0 0 10px rgba(34,31,31,0.3);
  transition: 0.5s ease;
  
}


.test2 .btn.hidden{
  background-color:lightsalmon;
  border-color: #fff;
  
}

.test2 .btn:hover{
  background-color: orangered;
  transform: scale(1.1);
  color: white;
}


footer {
  padding: 50px;
  background-color: #FF6B57;
  text-align: center;
  color: white;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-nav li {
  margin: 0 15px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
}



body {
  background: linear-gradient(to-right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: r;
  justify-content: left;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}


.container a {
    color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}


.container button{
    background-color: black;
    color:#fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent ;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer ;
    box-shadow: 0 0 10px rgba(34,31,31,0.3);
    transition: 0.5s ease;
    
}


.container button.hidden{
    background-color:orangered;
    border-color: #fff;
    
}

.container button:hover{
    background-color: orangered;
    transform: scale(1.1);
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0  40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    display: flex;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.row h2 {
  font-size: 56px;
  color: white;
  font-family: sans-serif;
  margin-top: 30px;


}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
    
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}


.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}




.row .dash{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color:darkblue ;
}

.footer{
  background-color: black;
  height: 5px;

}
